#include <windows.h>
#include "mano.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&Program"
    BEGIN
        MENUITEM "E&xit", ID_PROGRAM_EXIT
        MENUITEM "&Help", ID_PROGRAM_HELP
    END
END

"ikona" ICON "starbucks.ico"
